<div class="controls">
  <h6 style="border-bottom: 1px solid gray">Controls</h6>

  <div class="controls-content">
    <div>
      <button class="btn" (click)="start()" [ngClass]="{ active: isRunning }">
        &#9658;
      </button>
      <button class="btn" (click)="stop()" [ngClass]="{ active: !isRunning }">
        &#10073;&#10073;
      </button>
    </div>

    <hr>
    <div>
      <label for="customRange1" class="form-label"
      >Speed ({{ eventSpeed }}ms)</label
    >
    <input
      type="range"
      class="form-range"
      id="customRange1"
      (change)="onChangeSpeed($event)"
    />
    </div>
<hr>
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
          (change)="togglePauseWin($any($event.target).checked)"
        />
        <label class="form-check-label" for="flexCheckDefault" > Pause on win</label>
      </div>
    </div>

  </div>
</div>

<div class="poker-table-wrapper">
  <div class="poker-table-content">
    <div class="poker-table">

      <div class="cards">
        <app-card *ngFor="let card of cards" [card]="card"></app-card>
      </div>

      <div class="details" *ngIf="chips">
        <img  class="stack-image" src="assets/images/poker_stack.png" alt="poker-chips" />
        <p class="pot-chips">${{ chips }} <sup *ngIf="currentState" style="color: gray; font-style: italic;">({{ currentState }})</sup></p>
      </div>
    </div>

    <div
      *ngFor="let player of getSorted(players); let i = index"
      [ngClass]="{ winning: player.winning, active: player.state === 'active' }"
      id="player-{{ player.name }}"
      class="player player-{{ i + 1 }}"
    >
      <div class="fireworks"></div>
      <!-- <img *ngIf="player.wagered" class="stack-image" src="assets/images/poker_stack.png" alt="poker-chips" /> -->

      <div class="player-cards">
        <app-card *ngFor="let card of player.cards" [card]="card"></app-card>
      </div>

      <!-- <div class="player-avatar"></div> -->
      <div class="player-details">
        <p class="player-name">{{ player.name }}</p>
        <p class="player-chips">${{ player.chips }}</p>
      </div>

      <div class="player-blind" *ngIf="player.blind > 0">
        {{ player.blind }}
      </div>
      <div
        class="player-action"
        *ngIf="player.action"
        class="player-action--{{ player.action }}"
      >
        {{ player.action }}
      </div>
    </div>
  </div>
</div>

<div class="logs">
  <h6 style="border-bottom: 1px solid gray">Logs</h6>

  <div class="logs-content">
    <p class="log-line" *ngFor="let log of logs">
      <b style="min-width: 80px; display: inline-block;">{{log.player?.name}}</b>:&nbsp;<i>{{ log.text }}</i></p>
  </div>
</div>
