:host {
  flex-shrink: 0;
  width: 200px;
  border-right: 1px solid gray;
  background: #c5d2da;
  button.active {
    background-color: #1bff00;
  }
}

.controls-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
