:host {
  display: block;
  border-bottom: 1px solid gray;
  background: #c5d2da;
  button.active {
    background-color: #1bff00;
  }
}

.header {
  border-right: 1px solid black;
  padding: 0 20px 0 0;
}
.controls-content {
  display: flex;
  align-items: center;
  // flex-direction: column;
  padding: 5px;
}


.control-buttons {
  margin-right: 10px;
}
